Repository icon-project/xcall-multi, pull requests merged in 2023-08, with the labels that each got.

#20 fix: Add extra clarification on managing protocols in handleCallMessage
  docs/adr/xcall.md
Labels: ICON, Audit Issue

#29 fix: Add null checks on default connection address
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  contracts/javascore/xcall/src/test/java/foundation/icon/xcall/CallServiceTest.java
Labels: ICON, Audit Issue

#26 fix: removed getOrDefault for admin
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
Labels: ICON, Audit Issue

#25 fix: error message added in context.require
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
Labels: ICON, Audit Issue

#24 fix: Improve parameter consistency in xCall java and spec
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallService.java
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  docs/adr/xcall.md
Labels: ICON, Audit Issue

#23 fix: remove unused import
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
Labels: ICON, Audit Issue

#32 ci: add pr label check and automtic pr labeler
  .github/labeler.yml
  .github/workflows/auto-pr-labeler.yml
  .github/workflows/check-pr-label.yml
Labels: cicd

#17 ci: add release workflow
  .github/release.yml
  .github/workflows/release.yml
  README.md
  contracts/javascore/build.gradle
  scripts/optimize-cosmwasm.sh
Labels: documentation, DevOps, cicd, scripts

#48 ci: add manual cicd job to push release tag
  .github/workflows/release-tag-manager.yml
Labels: cicd, scripts
