Repository icon-project/xcall-multi, pull requests merged in 2023-12, with the labels that each got.

#193 docs: Add new message structure to xCall design doc
  docs/adr/xcall.md
Labels: documentation

#141 feat: Add message types to xCall
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessage.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessageRequest.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessageResult.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/RollbackData.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/CallMessage.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/CallMessageWithRollback.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/Message.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/XCallEnvelope.java
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  contracts/javascore/xcall/src/test/java/foundation/icon/xcall/CallServiceTest.java
  docs/adr/xcall.md
Labels: documentation

#208 docs: message with reply in response
  docs/adr/xcall.md
Labels: documentation

#204 feat: persisted messaging
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/call_message_persisted.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/envelope.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/mod.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/msg_type.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_call.rs
  contracts/cosmwasm-vm/cw-xcall/src/send_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/request.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_handle_call_message.rs
Labels: feature, iBriz

#212 fix: network address validation fixed
  contracts/evm/library/btp2/utils/NetworkAddress.sol
Labels: bug, iBriz

#201 ci: fix version not added in wasm file name
  .github/workflows/release.yml
  Cargo.toml
  scripts/optimize-cosmwasm.sh
Labels: cicd, iBriz, scripts

#207 ci: add job to update CHANGELOG.md
  .github/workflows/autogen-changelog.yml
  CHANGELOG.md
Labels: documentation, cicd

#214 fix: architecture updated
  contracts/evm/contracts/adapters/CentralizedConnection.sol
  contracts/javascore/centralized-connection/src/main/java/xcall/adapter/centralized/CentralizedConnection.java
Labels: bug

#215 feat: Implement persistent message type in Java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/PersistentMessage.java
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  contracts/javascore/xcall/src/test/java/foundation/icon/xcall/CallServiceTest.java
  docs/adr/xcall.md
Labels: documentation, feature

#196 feat: add centralized connections in solidity and java
  Makefile
  contracts/evm/contracts/adapters/CentralizedConnection.sol
  contracts/evm/script/CallService.s.sol
  contracts/evm/test/adapters/CentralizedConnection.t.sol
  contracts/javascore/centralized-connection/build.gradle
  contracts/javascore/centralized-connection/src/main/java/xcall/adapter/centralized/CentralizedConnection.java
  contracts/javascore/centralized-connection/src/test/java/xcall/adapter/centralized/CentralizedConnectionTest.java
  contracts/javascore/settings.gradle
  scripts/docker-compose.yml
  scripts/optimize-jar.sh
  scripts/optimize-solidity.sh
  scripts/wasm-builder.Dockerfile
Labels: feature, iBriz, scripts
