Repository icon-project/xcall-multi, pull requests merged in 2023-11, with the labels that each got.

#160 fix: set cosmwasm-check version to 1.4.1
  scripts/optimize-cosmwasm.sh
Labels: scripts

#153 docs: add deployment addresses
  README.md
  docs/contract-addresses.json
Labels: documentation, enhancement

#163 fix: use constant version of cosmwasm-check@1.4.1 for build
  scripts/optimize-cosmwasm.sh
Labels: scripts

#166 fix: Prevent networkId to be from native chain when receiving call messsages.
  contracts/cosmwasm-vm/cw-xcall/src/handle_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_request.rs
Labels: bug, Prod Support

#155 docs: add xcall-multi contract address for respective chain
  README.md
Labels: documentation

#174 chore: bump javascore version to 0.2.0
  contracts/javascore/xcall/build.gradle
Labels: cicd

#195 fix: Make simple dapp to use same logic as dapp multi
  contracts/javascore/example-dapps/dapp-simple/src/main/java/xcall/sample/dapp/RollbackData.java
  contracts/javascore/example-dapps/dapp-simple/src/main/java/xcall/sample/dapp/SimpleDapp.java
Labels: bug

#205 fix: fix networkid
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
Labels: bug
