Repository icon-project/xcall-multi, pull requests merged in 2023-09, with the labels that each got.

#66 ci: fix issue in cosmwasm build script
  .github/workflows/build-and-publish-cosmwasm.yml
  .github/workflows/deploy-cosmwasm-contracts.yml
  scripts/archway/docker_compose_archway.yaml
  scripts/archway/localnet.sh
  scripts/deploy_cosmwasm.sh
  scripts/optimize-cosmwasm.sh
Labels: cicd, scripts

#55 fix: struct naming according to docs
  contracts/cosmwasm-vm/cw-xcall/src/assertion.rs
  contracts/cosmwasm-vm/cw-xcall/src/connection.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_call.rs
  contracts/cosmwasm-vm/cw-xcall/src/handle_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
  contracts/cosmwasm-vm/cw-xcall/src/send_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/src/state.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/message.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/mod.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/request.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/response.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_handle_call_message.rs
Labels: bug, Audit Issue, Cosmwasm

#56 fix: address validation added
  contracts/cosmwasm-vm/cw-xcall/src/fee_handler.rs
Labels: enhancement, Audit Issue, Cosmwasm

#61 fix: removed helper module
  contracts/cosmwasm-vm/cw-xcall/src/helpers.rs
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
Labels: enhancement, Audit Issue, Cosmwasm

#53 fix: address validation added
  contracts/cosmwasm-vm/cw-xcall/src/connection.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_call.rs
  contracts/cosmwasm-vm/cw-xcall/src/handle_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/src/send_call_message.rs
Labels: enhancement, Audit Issue, Cosmwasm

#67 fix: reply removed from sendcallmessage and executerollback
  contracts/cosmwasm-vm/cw-xcall/src/connection.rs
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/dapp.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_rollback.rs
  contracts/cosmwasm-vm/cw-xcall/src/send_call_message.rs
Labels: enhancement, Audit Issue, Cosmwasm

#65 fix: array length checked after split
  contracts/cosmwasm-vm/cw-xcall-lib/src/network_address.rs
Labels: bug, Audit Issue, Cosmwasm

#70 ci: fix javascore build issue
  .github/workflows/build-and-publish-javascore.yml
  .github/workflows/uat-deploy-java-contracts.yml
  contracts/javascore/build.gradle
Labels: cicd

#58 feat: separate xcall module into xcall and xcall-lib
  contracts/javascore/example-dapps/dapp-multi-protocol/build.gradle
  contracts/javascore/example-dapps/dapp-simple/build.gradle
  contracts/javascore/settings.gradle
  contracts/javascore/xcall-lib/build.gradle
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessage.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessageRequest.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessageResponse.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CallRequest.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CallService.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CallServiceReceiver.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/Connection.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/DefaultCallServiceReceiver.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/FeeManage.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/NetworkAddress.java
  contracts/javascore/xcall/build.gradle
Labels: enhancement

#73 fix: address validation on icon address removed
  contracts/cosmwasm-vm/cw-xcall/src/send_call_message.rs
Labels: bug, Cosmwasm

#74 fix: not feature library added in instantiate
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
Labels: bug, enhancement, Cosmwasm

#75 fix: e2e and integration test
  contracts/cosmwasm-vm/cw-xcall/src/dapp.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_rollback.rs
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_admin.rs
  scripts/optimize-cosmwasm.sh
  scripts/optimize-jar.sh
Labels: enhancement, scripts

#59 fix: reentrancy and callback data override in reply #267
  contracts/cosmwasm-vm/cw-xcall/src/error.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_call.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_rollback.rs
  contracts/cosmwasm-vm/cw-xcall/src/state.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/storage_keys.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_handle_call_message.rs
Labels: bug, Audit Issue

#28 fix: handleMessage parameter-from to fromNid
  contracts/cosmwasm-vm/cw-xcall-lib/src/xcall_msg.rs
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/handle_call_message.rs
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  docs/adr/xcall.md
Labels: documentation, ICON, Audit Issue

#84 fix: fee check send message
  contracts/cosmwasm-vm/cw-xcall/src/fees.rs
  contracts/cosmwasm-vm/cw-xcall/src/send_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_call_message.rs
Labels: bug

#85 feat: Add current size limits to doc
  docs/adr/xcall.md
Labels: documentation

#71 ci: publish xcall-multi library to maven repository
  .github/workflows/publish_maven.yml
  contracts/javascore/README.md
  contracts/javascore/build.gradle
  contracts/javascore/gradle.properties
  contracts/javascore/settings.gradle
  contracts/javascore/xcall-lib/build.gradle
Labels: documentation, cicd, scripts

#72 fix: remove unnecessary comments
  contracts/cosmwasm-vm/cw-xcall/src/admin.rs
  contracts/cosmwasm-vm/cw-xcall/src/assertion.rs
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_rollback.rs
  contracts/cosmwasm-vm/cw-xcall/src/requests.rs
Labels: enhancement, Audit Issue

#52 chore: find and replace xCall -> xcall-multi in md files
  CONTRIBUTING.md
  README.md
Labels: documentation

#103 ci: enable release in an action
  .github/workflows/release.yml
Labels: cicd
