Repository icon-project/xcall-multi, pull requests merged in 2024-04, with the labels that each got.

#290 fix: Add support for non null reply encoding
  contracts/cosmwasm-vm/cw-integration/tests/test_xcall.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_call.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_handle_call_message.rs
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  contracts/javascore/xcall/src/test/java/foundation/icon/xcall/CallServiceTest.java
Labels: bug

#298 feat: add mock dapp
  contracts/sui/mock_dapp/Move.lock
  contracts/sui/mock_dapp/Move.toml
  contracts/sui/mock_dapp/sources/dapp_state.move
  contracts/sui/mock_dapp/sources/mock_dapp.move
  contracts/sui/mock_dapp/tests/mock_dapp_tests.move
  contracts/sui/xcall/sources/centralized_connection.move
  contracts/sui/xcall/sources/centralized_entry.move
  contracts/sui/xcall/sources/connections.move
  contracts/sui/xcall/sources/main.move
  contracts/sui/xcall/sources/messages/call_message.move
  contracts/sui/xcall/sources/states/centralized_state.move
  contracts/sui/xcall/sources/states/xcall_state.move
  contracts/sui/xcall/sources/types/cs_message.move
  contracts/sui/xcall/sources/types/execute_ticket.move
  contracts/sui/xcall/sources/types/message_result.move
  contracts/sui/xcall/sources/types/rollback_data.move
  contracts/sui/xcall/sources/types/rollback_ticket.move
Labels: feature

#296 fix: remove duplicate store connection message sequence
  contracts/cosmwasm-vm/cw-centralized-connection/src/contract.rs
Labels: Cosmwasm
