Repository icon-project/xcall-multi, pull requests merged in 2024-09, with the labels that each got.

#357 fix: get proposals function
  contracts/sui/multisig/sources/multisig.move
Labels: bug

#356 fix: sui dapp specs
  docs/sui-dapp-spec.md
Labels: documentation

#358 fix: call executed event added in persistent type
  contracts/evm/contracts/xcall/CallService.sol
Labels: bug

#359 fix: deploy script change
  contracts/evm/deploy_script.sh
Labels: documentation

#361 ci: update action version
  .github/workflows/release.yml
Labels: cicd

#363 ci: update upload action version
  .github/workflows/release.yml
Labels: cicd

#366 ci: fix stellar build issue
  .github/workflows/release.yml
  .github/workflows/stellar-build-and-test.yml
  scripts/install_sui.sh
Labels: cicd, scripts

#368 ci: fix stellar build issue
  .github/workflows/release.yml
Labels: cicd

#370 fix: add zero prefix for numeric types
  contracts/soroban/contracts/centralized-connection/src/contract.rs
  contracts/soroban/contracts/centralized-connection/src/storage.rs
  contracts/soroban/contracts/centralized-connection/src/types.rs
  contracts/soroban/libs/soroban-rlp/src/test/encoder.rs
  contracts/soroban/libs/soroban-rlp/src/test/utils.rs
  contracts/soroban/libs/soroban-rlp/src/utils.rs
Labels: bug

#371 chore: configure upgrade authority
  contracts/soroban/contracts/centralized-connection/src/contract.rs
  contracts/soroban/contracts/centralized-connection/src/helpers.rs
  contracts/soroban/contracts/centralized-connection/src/storage.rs
  contracts/soroban/contracts/centralized-connection/src/test.rs
  contracts/soroban/contracts/centralized-connection/src/types.rs
  contracts/soroban/contracts/xcall/src/contract.rs
  contracts/soroban/contracts/xcall/src/helpers.rs
  contracts/soroban/contracts/xcall/src/storage.rs
  contracts/soroban/contracts/xcall/src/test/contract.rs
  contracts/soroban/contracts/xcall/src/test/setup.rs
  contracts/soroban/contracts/xcall/src/types/message.rs
  contracts/soroban/contracts/xcall/src/types/storage_types.rs
Labels: bug
