Repository icon-project/xcall-multi, pull requests merged in 2024-05, with the labels that each got.

#307 fix: vecmap insert issue fixed
  contracts/sui/mock_dapp/sources/dapp_state.move
  contracts/sui/xcall/sources/centralized_connection/centralized_state.move
  contracts/sui/xcall/sources/states/xcall_state.move
Labels: bug

#310 fix: xcall deployment script
  contracts/evm/.env.example
  contracts/evm/README.md
  contracts/evm/cache/solidity-files-cache.json
  contracts/evm/deploy_script.sh
  contracts/evm/env.example
  contracts/evm/foundry.toml
  contracts/evm/test_xcall_flow.sh
Labels: documentation

#312 ci: add sui build and test job
  .github/workflows/sui-move-build-test.yml
  scripts/install_sui.sh
Labels: enhancement, cicd, scripts

#317 fix: missing implementation of handle-reply added
  contracts/sui/xcall/sources/main.move
Labels: bug

#318 ci: add stellar test workflow
  .github/workflows/stellar-build-and-test.yml
Labels: cicd

#322 fix: Use msgPayload hash instead of request data hash for multi protocol verification
  contracts/evm/contracts/xcall/CallService.sol
Labels: bug
