Repository icon-project/xcall-multi, pull requests merged in 2024-12, with the labels that each got.

#419 fix: javascore settngs.gradle
  contracts/javascore/settings.gradle
  scripts/optimize-stellar.sh
Labels: bug, scripts

#420 fix: rlp issue resolved
  contracts/soroban/libs/soroban-rlp/src/decoder.rs
  contracts/soroban/libs/soroban-rlp/src/utils.rs
Labels: bug

#421 fix: aggregator audit changes
  contracts/javascore/aggregator/src/main/java/relay/aggregator/Packet.java
  contracts/javascore/aggregator/src/main/java/relay/aggregator/RelayAggregator.java
  contracts/javascore/aggregator/src/test/java/relay/aggregator/RelayAggregatorTest.java
Labels: enhancement, ICON

#427 ci: update deprecated action version
  .github/workflows/build-and-publish-cosmwasm.yml
  .github/workflows/build-and-publish-javascore.yml
  .github/workflows/codecov-javascore.yml
  .github/workflows/cosmwasm-contracts-code-coverage.yml
  .github/workflows/deploy-cosmwasm-contracts.yml
  .github/workflows/java-contracts-test.yml
  .github/workflows/publish_maven.yml
  .github/workflows/release-tag-manager.yml
  .github/workflows/release.yml
  .github/workflows/solidity-contracts-test.yml
  .github/workflows/solidity-cov.yml
  .github/workflows/stellar-build-and-test.yml
  .github/workflows/sui-move-build-test.yml
  .github/workflows/uat-deploy-java-contracts.yml
Labels: cicd

#424 fix: cluster connection audit
  contracts/evm/contracts/adapters/ClusterConnection.sol
  contracts/evm/library/xcall/utils/Strings.sol
  contracts/evm/test/adapters/ClusterConnection.t.sol
  contracts/javascore/cluster-connection/src/main/java/xcall/adapter/cluster/ClusterConnection.java
  contracts/javascore/cluster-connection/src/test/java/xcall/adapter/cluster/ClusterConnectionTest.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CallService.java
Labels: bug, enhancement

#422 fix: rlp signed bytes prefix
  contracts/soroban/libs/soroban-rlp/src/decoder.rs
  contracts/soroban/libs/soroban-rlp/src/encoder.rs
  contracts/soroban/libs/soroban-rlp/src/test/encoder.rs
  contracts/soroban/libs/soroban-rlp/src/test/utils.rs
  contracts/soroban/libs/soroban-rlp/src/utils.rs
Labels: bug

#405 feat: solana cluster connection
  contracts/solana/Cargo.lock
  contracts/solana/programs/cluster-connection/Cargo.toml
  contracts/solana/programs/cluster-connection/Xargo.toml
  contracts/solana/programs/cluster-connection/src/constants.rs
  contracts/solana/programs/cluster-connection/src/contexts.rs
  contracts/solana/programs/cluster-connection/src/error.rs
  contracts/solana/programs/cluster-connection/src/event.rs
  contracts/solana/programs/cluster-connection/src/helper.rs
  contracts/solana/programs/cluster-connection/src/instructions/mod.rs
  contracts/solana/programs/cluster-connection/src/instructions/query_accounts.rs
  contracts/solana/programs/cluster-connection/src/lib.rs
  contracts/solana/programs/cluster-connection/src/state.rs
Labels: enhancement

#428 fix: sui/stellar audit fixes and rlp change
  contracts/soroban/Cargo.lock
  contracts/soroban/contracts/cluster-connection/Cargo.toml
  contracts/soroban/contracts/cluster-connection/src/helpers.rs
  contracts/soroban/contracts/cluster-connection/src/interfaces/interface_xcall.rs
  contracts/soroban/contracts/cluster-connection/src/test.rs
  contracts/sui/xcall/sources/cluster_connection/cluster_entry.move
  contracts/sui/xcall/sources/cluster_connection/cluster_state.move
  contracts/sui/xcall/sources/utils.move
Labels: enhancement

#430 feat: stellar multisig
  contracts/soroban/Cargo.lock
  contracts/soroban/contracts/multisig/Cargo.toml
  contracts/soroban/contracts/multisig/Readme.md
  contracts/soroban/contracts/multisig/src/lib.rs
  contracts/soroban/contracts/multisig/src/states.rs
Labels: documentation, enhancement
