Repository icon-project/xcall-multi, pull requests merged in 2024-01, with the labels that each got.

#230 fix: point to wasm client branch to fix build issues in light client
  Cargo.lock
  Cargo.toml
  contracts/cosmwasm-vm/cw-mock-dapp-multi/Cargo.toml
  contracts/cosmwasm-vm/cw-mock-dapp/Cargo.toml
  contracts/cosmwasm-vm/cw-xcall-lib/Cargo.toml
  contracts/cosmwasm-vm/cw-xcall/Cargo.toml
  contracts/cosmwasm-vm/cw-xcall/tests/test_call_message.rs
Labels: enhancement

#220 docs: add injective contracts of testnet deployment
  README.md
Labels: documentation, iBriz

#224 feat: Implement reply for two way messages
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessageRequest.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/CSMessageResult.java
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  contracts/javascore/xcall/src/test/java/foundation/icon/xcall/CallServiceTest.java
Labels: feature

#209 feat: add response message rust
  contracts/cosmwasm-vm/cw-xcall/src/assertion.rs
  contracts/cosmwasm-vm/cw-xcall/src/error.rs
  contracts/cosmwasm-vm/cw-xcall/src/execute_call.rs
  contracts/cosmwasm-vm/cw-xcall/src/fees.rs
  contracts/cosmwasm-vm/cw-xcall/src/handle_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
  contracts/cosmwasm-vm/cw-xcall/src/send_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/src/state.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/mod.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/result.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/rollback.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/storage_keys.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_handle_call_message.rs
  docs/adr/xcall.md
Labels: documentation, feature

#216 test: add integration test
  Cargo.lock
  Cargo.toml
  contracts/cosmwasm-vm/cw-integration/Cargo.toml
  contracts/cosmwasm-vm/cw-integration/src/lib.rs
  contracts/cosmwasm-vm/cw-integration/tests/setup.rs
  contracts/cosmwasm-vm/cw-integration/tests/test_xcall.rs
  contracts/cosmwasm-vm/cw-mock-dapp-multi/Cargo.toml
  contracts/cosmwasm-vm/cw-mock-dapp-multi/src/contract.rs
  contracts/cosmwasm-vm/cw-mock-dapp-multi/src/lib.rs
  contracts/cosmwasm-vm/cw-mock-dapp-multi/src/msg.rs
  contracts/cosmwasm-vm/cw-mock-dapp-multi/tests/mock_test.rs
  contracts/cosmwasm-vm/cw-mock-dapp/Cargo.toml
  contracts/cosmwasm-vm/cw-xcall-lib/Cargo.toml
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/call_message.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/call_message_persisted.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/call_message_rollback.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/envelope.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/mod.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/xcall_msg.rs
  contracts/cosmwasm-vm/cw-xcall/Cargo.toml
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/message.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/request.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/result.rs
Labels: Cosmwasm

#232 feat: persistent messaging added in solidity
  contracts/evm/contracts/xcall/CallService.sol
  contracts/evm/library/utils/Types.sol
  contracts/evm/test/adapters/CentralizedConnection.t.sol
  contracts/evm/test/xcall/CallService.t.sol
Labels: feature, iBriz

#234 feat: response message solidity
  contracts/evm/contracts/xcall/CallService.sol
  contracts/evm/library/btp2/interfaces/ICallService.sol
  contracts/evm/library/utils/RLPDecodeStruct.sol
  contracts/evm/library/utils/RLPEncodeStruct.sol
  contracts/evm/library/utils/Types.sol
  contracts/evm/test/xcall/CallService.t.sol
Labels: feature, iBriz

#248 feat: javascore dapp new message type
  contracts/javascore/example-dapps/dapp-multi-protocol/src/main/java/xcall/sample/dapp/MultiProtocolSampleDapp.java
  contracts/javascore/example-dapps/dapp-simple/src/main/java/xcall/sample/dapp/SimpleDapp.java
Labels: feature, iBriz

#245 feat: new message type in solidity dapp
  contracts/evm/contracts/mocks/multi-protocol-dapp/MultiProtocolSampleDapp.sol
  contracts/evm/contracts/xcall/CallService.sol
  contracts/evm/library/utils/Types.sol
  contracts/evm/test/xcall/CallService.t.sol
Labels: feature, iBriz

#257 fix: cleanup deploy script
  contracts/evm/.env.example
  contracts/evm/README.md
  contracts/evm/deploy_script.sh
  contracts/evm/env.example
  contracts/evm/foundry.toml
  contracts/evm/script/CallService.s.sol
  contracts/evm/script/XCallOperation.s.sol
  contracts/evm/test_xcall_flow.sh
Labels: documentation, feature, iBriz

#256 docs: update readme
  README.md
  contracts/javascore/centralized-connection/build.gradle
  docs/centralized-connection-setup.md
  docs/centralized-connection.md
  docs/contract-addresses.json
Labels: documentation, Prod Support
