Repository icon-project/xcall-multi, pull requests merged in 2024-08, with the labels that each got.

#287 feat: sui xcall contracts
  .github/workflows/sui-move-build-test.yml
  .gitmodules
  contracts/cosmwasm-vm/cw-xcall/src/types/request.rs
  contracts/evm/cache/solidity-files-cache.json
  contracts/sui/libs/sui_rlp/Move.lock
  contracts/sui/libs/sui_rlp/Move.toml
  contracts/sui/libs/sui_rlp/sources/decoder.move
  contracts/sui/libs/sui_rlp/sources/encoder.move
  contracts/sui/libs/sui_rlp/sources/utils.move
  contracts/sui/libs/sui_rlp/tests/rlp_tests.move
  contracts/sui/mock_dapp/Move.lock
  contracts/sui/mock_dapp/Move.toml
  contracts/sui/mock_dapp/sources/dapp_state.move
  contracts/sui/mock_dapp/sources/mock_dapp.move
  contracts/sui/mock_dapp/tests/mock_dapp_tests.move
  contracts/sui/xcall/Move.lock
  contracts/sui/xcall/Move.toml
  contracts/sui/xcall/sources/centralized_connection/centralized_connection.move
  contracts/sui/xcall/sources/centralized_connection/centralized_entry.move
  contracts/sui/xcall/sources/centralized_connection/centralized_state.move
  contracts/sui/xcall/sources/connections.move
  contracts/sui/xcall/sources/main.move
  contracts/sui/xcall/sources/messages/call_message.move
  contracts/sui/xcall/sources/messages/call_message_rollback.move
  contracts/sui/xcall/sources/messages/envelope.move
  contracts/sui/xcall/sources/messages/persistent_message.move
  contracts/sui/xcall/sources/states/xcall_state.move
  contracts/sui/xcall/sources/types/cs_message.move
  contracts/sui/xcall/sources/types/execute_ticket.move
  contracts/sui/xcall/sources/types/message_request.move
  contracts/sui/xcall/sources/types/message_result.move
  contracts/sui/xcall/sources/types/network_address.move
  contracts/sui/xcall/sources/types/rollback_data.move
  contracts/sui/xcall/sources/types/rollback_ticket.move
  contracts/sui/xcall/sources/utils.move
  contracts/sui/xcall/tests/xcall_test.move
  docs/sui-xcall.md
  scripts/install_sui.sh
  scripts/optimize-move.sh
Labels: documentation, cicd, feature, scripts

#346 feat: upgrade rust
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  contracts/cosmwasm-vm/cw-centralized-connection/src/helper.rs
  contracts/cosmwasm-vm/cw-centralized-connection/src/lib.rs
  contracts/cosmwasm-vm/cw-integration/tests/test_xcall.rs
  contracts/cosmwasm-vm/cw-mock-dapp-multi/src/contract.rs
  contracts/cosmwasm-vm/cw-mock-dapp-multi/src/lib.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/contract.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/lib.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/msg_type.rs
  contracts/cosmwasm-vm/cw-xcall/src/assertion.rs
  contracts/cosmwasm-vm/cw-xcall/src/connection.rs
  contracts/cosmwasm-vm/cw-xcall/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall/src/dapp.rs
  contracts/cosmwasm-vm/cw-xcall/src/handle_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/src/lib.rs
  contracts/cosmwasm-vm/cw-xcall/src/state.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/mod.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/result.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/rollback.rs
  contracts/cosmwasm-vm/cw-xcall/tests/setup.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_call_message.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_call_service.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_fee_handler.rs
  contracts/cosmwasm-vm/cw-xcall/tests/test_handle_call_message.rs
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
  contracts/javascore/xcall/src/test/java/foundation/icon/xcall/CallServiceTest.java
  rust-toolchain.toml
  scripts/optimize-cosmwasm.sh
Labels: enhancement, cicd, scripts

#349 fix: adding store to cap for transferrable
  contracts/sui/xcall/sources/states/xcall_state.move
Labels: bug

#350 fix: address to hex prefix 0
  contracts/sui/xcall/sources/main.move
  contracts/sui/xcall/sources/utils.move
Labels: bug

#351 fix: relayer fees in response
  contracts/sui/xcall/sources/centralized_connection/centralized_connection.move
Labels: bug

#352 fix: version upgrade
  contracts/sui/xcall/sources/main.move
Labels: bug

#353 fix: mock dapp fixes
  contracts/sui/mock_dapp/sources/dapp_state.move
  contracts/sui/mock_dapp/sources/mock_dapp.move
  contracts/sui/mock_dapp/tests/mock_dapp_tests.move
Labels: enhancement
