Repository icon-project/xcall-multi, pull requests merged in 2024-11, with the labels that each got.

#393 feat: sui cluster connection
  contracts/sui/xcall/sources/cluster_connection/cluster_connection.move
  contracts/sui/xcall/sources/cluster_connection/cluster_entry.move
  contracts/sui/xcall/sources/cluster_connection/cluster_state.move
  contracts/sui/xcall/sources/cluster_connection/signatures.move
  contracts/sui/xcall/sources/connections.move
  contracts/sui/xcall/sources/utils.move
Labels: enhancement

#399 fix: stellar external audit issues
  Cargo.toml
  contracts/soroban/Cargo.lock
  contracts/soroban/Cargo.toml
  contracts/soroban/contracts/centralized-connection/Cargo.toml
  contracts/soroban/contracts/centralized-connection/src/contract.rs
  contracts/soroban/contracts/centralized-connection/src/storage.rs
  contracts/soroban/contracts/centralized-connection/src/test.rs
  contracts/soroban/contracts/centralized-connection/src/types.rs
  contracts/soroban/contracts/mock-dapp-multi/src/contract.rs
  contracts/soroban/contracts/mock-dapp-multi/src/storage.rs
  contracts/soroban/contracts/mock-dapp-multi/src/test/contract.rs
  contracts/soroban/contracts/mock-dapp-multi/src/test/setup.rs
  contracts/soroban/contracts/mock-dapp-multi/src/types.rs
  contracts/soroban/contracts/xcall/src/contract.rs
  contracts/soroban/contracts/xcall/src/errors.rs
  contracts/soroban/contracts/xcall/src/handle_message.rs
  contracts/soroban/contracts/xcall/src/helpers.rs
  contracts/soroban/contracts/xcall/src/storage.rs
  contracts/soroban/contracts/xcall/src/test/contract.rs
  contracts/soroban/contracts/xcall/src/test/execute_call.rs
  contracts/soroban/contracts/xcall/src/test/handle_message.rs
  contracts/soroban/contracts/xcall/src/test/send_message.rs
  contracts/soroban/contracts/xcall/src/test/setup.rs
  contracts/soroban/contracts/xcall/src/types/request.rs
  contracts/soroban/contracts/xcall/src/types/storage_types.rs
Labels: bug

#409 fix: remove sign byte from length
  Cargo.lock
  contracts/sui/libs/sui_rlp/sources/encoder.move
  contracts/sui/libs/sui_rlp/sources/utils.move
Labels: bug

#408 fix: rlp zero values
  contracts/sui/libs/sui_rlp/sources/encoder.move
  contracts/sui/libs/sui_rlp/sources/utils.move
Labels: bug

#380 feat: icon aggregator
  contracts/javascore/aggregator/build.gradle
  contracts/javascore/aggregator/src/main/java/relay/aggregator/Packet.java
  contracts/javascore/aggregator/src/main/java/relay/aggregator/RelayAggregator.java
  contracts/javascore/aggregator/src/test/java/relay/aggregator/RelayAggregatorTest.java
  contracts/javascore/keystore.json
  contracts/javascore/settings.gradle
Labels: ICON, feature

#386 feat: icon cluster connection
  contracts/javascore/cluster-connection/build.gradle
  contracts/javascore/cluster-connection/src/main/java/xcall/adapter/cluster/ClusterConnection.java
  contracts/javascore/cluster-connection/src/test/java/xcall/adapter/cluster/ClusterConnectionTest.java
  contracts/javascore/settings.gradle
Labels: feature

#354 feat: sui multisig contract
  contracts/sui/multisig/Move.lock
  contracts/sui/multisig/Move.toml
  contracts/sui/multisig/README.md
  contracts/sui/multisig/sources/base64.move
  contracts/sui/multisig/sources/multisig.move
  contracts/sui/multisig/tests/multisig_tests.move
Labels: documentation, enhancement

#416 fix: cluster connection test fix
  contracts/evm/test/adapters/ClusterConnection.t.sol
Labels: bug

#406 feat: stellar cluster connection
  .github/workflows/stellar-build-and-test.yml
  Cargo.lock
  contracts/soroban/Cargo.lock
  contracts/soroban/contracts/cluster-connection/Cargo.toml
  contracts/soroban/contracts/cluster-connection/src/contract.rs
  contracts/soroban/contracts/cluster-connection/src/errors.rs
  contracts/soroban/contracts/cluster-connection/src/event.rs
  contracts/soroban/contracts/cluster-connection/src/helpers.rs
  contracts/soroban/contracts/cluster-connection/src/interfaces/interface_xcall.rs
  contracts/soroban/contracts/cluster-connection/src/interfaces/mod.rs
  contracts/soroban/contracts/cluster-connection/src/lib.rs
  contracts/soroban/contracts/cluster-connection/src/storage.rs
  contracts/soroban/contracts/cluster-connection/src/test.rs
  contracts/soroban/contracts/cluster-connection/src/types.rs
  contracts/soroban/contracts/mock-dapp-multi/src/test.rs
  contracts/soroban/libs/soroban-rlp/src/utils.rs
  scripts/optimize-stellar.sh
Labels: enhancement, cicd, scripts

#417 fix: sui rlp upgrade
  contracts/sui/libs/sui_rlp/sources/encoder.move
  contracts/sui/libs/sui_rlp/sources/utils.move
Labels: bug
