Repository icon-project/xcall-multi, pull requests merged in 2024-02, with the labels that each got.

#260 ci: add solidity in release pipeline
  .github/workflows/release.yml
  contracts/evm/forge_build.sh
Labels: cicd, iBriz

#262 docs: update readme
  docs/centralized-connection-setup.md
Labels: documentation

#266 fix: optimized in claimProtocolFee
  contracts/evm/contracts/xcall/CallService.sol
Labels: enhancement, iBriz, Solidity

#265 fix: address validation added in setAdmin
  contracts/evm/contracts/xcall/CallService.sol
Labels: enhancement, iBriz, Solidity

#264 fix: removed a param from executeMessage
  contracts/evm/contracts/xcall/CallService.sol
Labels: enhancement, iBriz, Solidity

#267 fix: readability in compare string
  contracts/evm/contracts/xcall/CallService.sol
Labels: enhancement, iBriz

#243 ci: run changelog generator job on every Monday 9 AM
  .github/workflows/autogen-changelog.yml
Labels: cicd

#268 fix: optimized verifyProtocol
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
Labels: enhancement, iBriz

#263 fix: getFee- returned 0 in replyState
  contracts/evm/contracts/xcall/CallService.sol
  contracts/javascore/xcall/src/main/java/foundation/icon/xcall/CallServiceImpl.java
Labels: enhancement, iBriz

#271 feat: improvements on xcall2.1 tests
  contracts/evm/test/xcall/CallService.t.sol
Labels: enhancement

#272 fix: btp2 renamed to xcall
  contracts/evm/contracts/adapters/CentralizedConnection.sol
  contracts/evm/contracts/adapters/LayerZeroAdapter.sol
  contracts/evm/contracts/adapters/WormholeAdapter.sol
  contracts/evm/contracts/mocks/dapp/DAppProxySample.sol
  contracts/evm/contracts/mocks/multi-protocol-dapp/MultiProtocolSampleDapp.sol
  contracts/evm/contracts/xcall/CallService.sol
  contracts/evm/library/utils/RLPDecodeStruct.sol
  contracts/evm/library/utils/RLPEncodeStruct.sol
  contracts/evm/library/xcall/interfaces/IBSH.sol
  contracts/evm/library/xcall/interfaces/ICallService.sol
  contracts/evm/library/xcall/interfaces/ICallServiceReceiver.sol
  contracts/evm/library/xcall/interfaces/IDefaultCallServiceReceiver.sol
  contracts/evm/library/xcall/utils/Integers.sol
  contracts/evm/library/xcall/utils/NetworkAddress.sol
  contracts/evm/library/xcall/utils/ParseAddress.sol
  contracts/evm/library/xcall/utils/RLPDecode.sol
  contracts/evm/library/xcall/utils/RLPEncode.sol
  contracts/evm/library/xcall/utils/Strings.sol
  contracts/evm/remappings.txt
  contracts/evm/test/xcall/CallService.t.sol
Labels: enhancement

#275 feat: made changes for upgradeability for the evm contracts
  contracts/evm/contracts/xcall/CallService.sol
  contracts/evm/contracts/xcall/CallServiceV1.sol
  contracts/evm/library/utils/RLPDecodeStruct.sol
  contracts/evm/library/utils/RLPEncodeStruct.sol
  contracts/evm/library/utils/Types.sol
  contracts/evm/library/xcall/interfaces/ICallServiceV1.sol
  contracts/evm/script/CallService.s.sol
  contracts/evm/test/adapters/CentralizedConnection.t.sol
  contracts/evm/test/xcall/CallService.t.sol
Labels: enhancement

#276 docs: clearer centralized deployment
  contracts/evm/README.md
  docs/centralized-connection-setup.md
  docs/centralized-connection.md
Labels: documentation

#278 fix: patch message type
  contracts/cosmwasm-vm/cw-integration/tests/test_xcall.rs
  contracts/cosmwasm-vm/cw-mock-dapp-multi/src/contract.rs
  contracts/cosmwasm-vm/cw-mock-dapp/src/contract.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/envelope.rs
  contracts/cosmwasm-vm/cw-xcall-lib/src/message/msg_type.rs
  contracts/cosmwasm-vm/cw-xcall/src/types/request.rs
  contracts/evm/library/utils/Types.sol
  contracts/evm/test/xcall/CallService.t.sol
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/CallMessage.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/CallMessageWithRollback.java
  contracts/javascore/xcall-lib/src/main/java/foundation/icon/xcall/messages/PersistentMessage.java
  contracts/javascore/xcall/src/test/java/foundation/icon/xcall/CallServiceTest.java
Labels: bug
